<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py $(find redherring_gazebo)/urdf/red_herring.urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0 -y 0 -z 0 -model redherring"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
</launch>
