<?xml version="1.0" ?>
<model>
    <name>Submarine model</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Oscar Morrison (AUVIC)</name>
        <email>oscarmorrison@uvic.ca</email>
    </author>
    <description>Submarine model for simulation of underwater testing. Created for AUVIC, github.com/uvic-auvic</description>
</model>
